napari[all]
jupyterlab
pingouin
seaborn
pyrsistent
tifffile>=2023.3.15
napari-aicsimageio
napari-pyclesperanto-assistant
napari-skimage-regionprops
napari-animation
napari-plot-profile
napari-accelerated-pixel-and-object-classification
napari-brightness-contrast
napari-plugin-search
napari-segment-blobs-and-things-with-membranes
napari-simpleitk-image-processing
napari-folder-browser
napari-crop
napari-clusters-plotter
napari-tabu
napari-workflow-optimizer
napari-workflow-inspector
napari-curtain
napari-layer-details-display
napari-roi
napari-console
btrack[napari]
napari-arboretum
napari-explorer
napari-ndev